footer{
    border-top: 1px solid theme-color(black);
    padding: 10px 0;
    font-size: .8em;

    a{
        @extend .no-underline;

        &:hover{
            @extend .underline;
        }
    }
}