.banner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid theme-color(black);

  .brand{
    @extend .no-underline;
    font-size: 1.2em;
    font-weight: 600;
  }

  .top{
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    padding: 0;
    height: $grid-gutter;
    background: theme-color(white);
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-toggle{
      position: absolute;
      font-size: 0;
      left: 15px;
      //color: theme-color(grey);
      cursor: pointer;

      &.menu-text{
        display: none;
      }

      &.hamburger{
        padding: 0;

        .hamburger-box{
          transform: scale(.8);

          .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
            background-color: theme-color(grey);
          }
        }
      }
    }

    @include media-breakpoint-up(lg){
      display: none;

      .menu-toggle{
        font-size: .8em;
        left: $grid-gutter / 2;

        &.hamburger{
          display: none;
        }
      }
    }
  }

  .bottom{
    z-index: -1;
    height: 0;
    overflow: hidden;
    background: theme-color(white);
    transition: .4s;
  }
  
  @include media-breakpoint-up(lg){
    
    .bottom{
      padding: 0 30px;
      height: $grid-gutter;
    }

    &:hover{
      height: auto;

      ul.nav > li.brand{
        opacity: 1;
        margin-top: 0;
      }

      .bottom{
        height: 280px;
      }
    }
  }

  &.active{
    height: 100vh;
    display: flex;
    flex-flow: column;
    
    .bottom{
      flex: 1;
      overflow: auto;
      border-color: transparent;
    }

    
  }
}

//Menu
.menu-main-menu-container{
  ul.nav{
    padding: 0;
    font-size: .7em;
    padding: $grid-gutter / 2;
    flex-flow: column;

    @include media-breakpoint-up(lg){
      flex-flow: row wrap;
      padding: 0;
    }

    @include media-breakpoint-up(xl){
      flex-flow: row;
    }

    a{
      font-weight: 600;
      font-size: 1.2em;
      letter-spacing: .05em;
      color: theme-color(black);
      font-weight: 400;
      @extend .inverted-underline;
    }

    & > li{
      list-style: none;
      font-size: 1.2em;
      text-transform: uppercase;
      padding-right: $grid-gutter;
      flex: 1;
      margin-bottom: $grid-gutter/ 2;
      text-align: center;

      &.brand{
        display: none;

        a{
          @extend .no-underline;
          font-size: 1.4em;
          line-height: 1.2em;
        }
      }
      

      @include media-breakpoint-up(lg){
        text-align: left;

        &.brand{
          display: block;
          margin-bottom: 0;
          flex: 0 100%;
          order: -1;
          text-align: center;
          margin-top: -2.4em;

          a{
            margin-bottom: 0;
          }
        }

        &:first-child{
          min-width: 220px;
        }

        &:last-child{
          flex: 0 150px;
          padding-right: 0;
        }
      }

      @include media-breakpoint-up(xl){
        flex: 0;
        font-size: 1.4em;

        &.brand{
          order: inherit;
          flex: 1;
        }
      }

      
      
      & > a{
        display: inline-block;
        margin-bottom: .5em;
        font-weight: bold;

        @include media-breakpoint-up(lg){
          padding: .3em 0;
        }
      }

      &.inactive{
        & > a{
          pointer-events: none;

          &:hover{
            @extend .no-underline;
          }
        }
      }
    }

    .sub-menu{
      list-style: none;
      padding-left: 0;

      li{
        font-size: 16px;
        text-transform: none;
        margin-bottom: 10px;

        a{
          line-height: 1.2em;
        }

        &.current-menu-item,
        &:hover{
          a{
            @extend .underline;
          }
        }
      }
    }
  }
}