.single-movie,
.single-interview{

    .content{
        margin-top: 0;

        article{
            padding-top: $grid-gutter;
            display: flex;
            flex-direction: column;
            min-height: 100vh;

            .entry-content{
                flex: 1;
            }
        }
    }

    .movie-header{
        position: relative;
        color: theme-color(white);
        margin-bottom: - $grid-gutter;
        display: flex;
        align-items: flex-end;
        padding-top: $grid-gutter;
        background-size: cover;
        background-position: center;

        .gradient{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: theme-color(black);
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            height: 200px;
            z-index: 0;
        }

        .container{
            z-index: 1;
        }

        .video-player{
            background: theme-color(black);
            background-size: cover;
            background-position: center;
            color: theme-color(white);
            position: relative;
            max-width: 90vh; 
            margin: auto;

            .video-btn{
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: $grid-gutter;
                cursor: pointer;
                transform: translate(-50%, -50%);
                transition: .25s;
                z-index: 99;
                
                @include media-breakpoint-up(md){
                    font-size: 40px;
                }

                &:hover{
                    transform: translate(-50%, -50%) scale(1.1);
                }
            }

            iframe{
                display: none;
            }

            &.active{
                background-image: none!important;

                iframe{
                    display: block;
                }   

                .video-btn{
                    display: none;
                }
            }
        }

        .selection{
            text-align: center;
            margin-top: 20px;

            a{
                @extend .inverted-underline;
                color: theme-color(black);
                margin: 0 10px;
                display: inline-block;
                text-transform: uppercase;
                line-height: 1em;
                cursor: pointer;

                &.active{
                    @extend .underline;
                }
            }
        }
    }

    section{
        margin-bottom: $grid-gutter;
        padding: $grid-gutter 0;
        border-top: 1px solid theme-color(black);

        &#content{
            padding: 0;
            border-top: 0;
            margin-top: $grid-gutter * 2;

            .entry-title{ 
                margin-bottom: $grid-gutter / 2;

                h1{
                    margin-bottom: 10px;
                }

                h4{
                    color: theme-color(grey);
                    text-transform: uppercase;
                }
            }

            .details{
                font-size: .9em;
                columns: 2;
                margin-top: $grid-gutter / 2;

                @include media-breakpoint-up(md){
                    columns: 1;
                    margin-top: 0;
                }
            }

            .collaborators{
                padding-left: 0;
                list-style: none;

                a{
                    @extend .inverted-underline;
                }
            }

            .accordeon-header{
                @extend h5;
            }
        }
    }
}

.prev-next-footer{
    border-top: 1px solid theme-color(black);
    padding: $grid-gutter / 2 0;

    a{
        @extend .no-underline;
        font-family: miller-display, serif;

        svg{
            transition: .25s;
        }


        @include media-breakpoint-up(md){
            font-size: 1.2em;
        }
    }

    .back{
        text-align: center;

        a{
            @extend .inverted-underline;
         }

        @include media-breakpoint-up(md){
            margin-bottom: 0;
        }
    }

    .prev, 
    .next{
        .title{
            display: none;

            @include media-breakpoint-up(md){
                display: inline;
            }
        }
    }


    .prev{

        @include media-breakpoint-up(md){
            order: 0;
        }

        svg{
            margin-right: 10px;
        }

        &:hover{
            svg{
                transform: translate(-10px);
            }
        }
    }

    .next{
        text-align: right;

        svg{
            margin-left: 10px;
        }

        &:hover{
            svg{
                transform: translate(10px);
            }
        }
    }
}

//Slick align left
.slick-track{
    margin-left: 0;
}