.page{
    .page-header{
        margin: $grid-gutter 0;
    }

    main{
        ul{
            li{
                margin-bottom: $grid-gutter / 2;
            }
        }
    }
}

.home{
    .content{
        margin-top: 0;
    }

    .banner{
        border-color: transparent;
        transition: .25s;

        .brand{
            transition: .25s;
            opacity: 0;
        }

        &.scrolled{
            border-color: theme-color(black);

            .brand{
                opacity: 1;
            }
        }

        &.active{
            border-color: theme-color(black);

            .brand{
                opacity: 1;
            }
        }
    }

    h1{
        font-family: 'HelveticaNeue', sans-serif;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 600;
    }

    .photo{
        text-align: center;
        margin-bottom: $grid-gutter / 2;

        img{
            width: 100%;
            //max-width: none; 
        }

        @include media-breakpoint-up(md){
            margin-bottom: $grid-gutter;
            //padding: 0 $grid-gutter;
        }
    }

    #bottomMenu{
        border-top: 1px solid theme-color(black);

        .menu-item{
            padding: $grid-gutter 0;
            border-bottom: 1px solid theme-color(black);

            a{
                display: flex;
                justify-content: space-between;
                color: theme-color(black);
                text-decoration: none;

                svg{
                    transition: .25s;
                }

                &:hover{
                    svg{
                        transform: translateX(10px);
                    }
                }
            }

            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}

// History Pages
.template-history-page{
    #historyHeader{
        border-bottom: 1px solid theme-color(black);
        padding-bottom: 0;

        h1{
            margin-bottom: $grid-gutter;
        }

        .history-menu{
            max-width: 100%;

            li{
                display: inline-block;
                list-style: none;
                padding-right: $grid-gutter / 2;
                margin-bottom: 0;

                a{
                    text-decoration: none;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .current-menu-item{
                display: none;
            }
        }
    }
}

//Films page
.films,
.interviews{
    .page-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sort-options{
        text-transform: uppercase;

        a{
            color: theme-color(grey);
            cursor: pointer;
            padding-left: 10px;

            &.active{
                color: theme-color(black);
            }
        }
    }
}

.interviews{
    .movies-wrap{
        display: flex;
    }
}

.movies-wrap{
    display: block;

    .movie{
        height: 400px;
        display: inline-block;
        vertical-align: top;

        &.hasFilm{
            .thumbnail{
                
            }    
        }

        a{
            text-decoration: none;

            &:hover{
                .thumbnail{
                    opacity: .8;
                }
            }
        }

        .thumbnail{
            position: relative;
            height: 0;
            padding-top: 56%;
            background-color: theme-color(grey);
            background-size: cover;
            background-position: center;
            margin-bottom: 10px;
            transition: .25s;

            h6{
                position: absolute;
                top: 0;
                left: 0;
                padding: 5px;
                margin: 0;
                color: theme-color(white);
            }
        }

        .tag{
            display: inline-block;
            //padding: .25em 1em;
            color: theme-color(black);
            //background-color: theme-color(primary);
            border-radius: 1.5em;
            text-transform: uppercase;
            font-size: .8em;
            letter-spacing: .1em;

            svg{
                padding-right: 5px;
            }
        }
    }
}

    

//Key People
.person{
    margin-bottom: $grid-gutter;
    text-align: left;

    .thumbnail{
        height: 0;
        padding-top: 80%;
        margin-bottom: 10px;
        background-color: theme-color(grey);
        background-size: cover;
        background-position: center;
    }
}

//Photographs
.photographs{
    .photo{
        margin-bottom: $grid-gutter;
        text-align: center;
        text-decoration: none;

        figcaption{
            color: theme-color(grey);
            font-size: .8em;
            line-height: 1em;
            margin-top: 10px;
        }
    }
}