.page{
    .page-header{
        margin: $grid-gutter 0;
    }

    main{
        ul{
            li{
                margin-bottom: $grid-gutter / 2;
            }
        }
    }
}

.home{
    .content{
        margin-top: 0;
    }

    .banner{
        border-color: transparent;
        transition: .25s;

        .brand{
            transition: .25s;
            opacity: 0;

            @include media-breakpoint-up(lg){
                margin-top: -2.4em;
            }
        }

        &.scrolled{
            border-color: theme-color(black);

            &:hover{
                .brand{
                    opacity: 1;
                    margin-top: 0;
                }
            }

            @include media-breakpoint-up(lg){
                .brand{
                    opacity: 1;
                    margin-top: 0;
                }
            }
        }

        &.active{
            border-color: transparent;

            @include media-breakpoint-up(md){
                border-color: theme-color(black);
            }

            .brand{
                opacity: 1;
            }
        }
    }

    .page-header{
        margin-bottom: $grid-gutter / 2;
    }

    h1{
        font-family: 'HelveticaNeue', sans-serif;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 600;
    }

    .photo{
        margin-bottom: $grid-gutter / 2;

        img{
            width: 100%;
        }

        @include media-breakpoint-up(md){
            margin-bottom: $grid-gutter;
        }
    }

    #bottomMenu{
        margin-top: $grid-gutter;
        border-top: 1px solid theme-color(black);

        .menu-item{
            padding: $grid-gutter 0;
            border-bottom: 1px solid theme-color(black);

            a{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: theme-color(black);
                @extend .no-underline;
                margin-bottom: $grid-gutter / 2;

                @include media-breakpoint-up(md){
                    margin-bottom: $grid-gutter;
                }

                h2{
                    margin-bottom: 0;
                }

                .arrow{
                    height: 30px;
                    transition: .25s;

                    @include media-breakpoint-up(md){
                        height: 40px;
                    }
                }

                &:hover{
                    .arrow{
                        transform: translateX(10px);
                    }
                }
            }

            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}

// History and Resources Pages

    #submenuHeader{
        padding-bottom: 0;

        h1{
            margin: 0;
            line-height: 1;
        }
        
        @include media-breakpoint-up(lg){
            margin-top: - $grid-gutter / 2;
            border-bottom: 1px solid theme-color(black);

            h1{
                margin: $grid-gutter 0;
            }
        }

        .history-menu,
        .resources-menu{
            display: none;

            li{
                a{
                    @extend .no-underline;

                    &:hover{
                        @extend .underline;
                    }
                }
            }

            @include media-breakpoint-up(lg){
                display: block;
                padding-left: 0;
                max-width: 100%;
                margin-bottom: $grid-gutter;
                
                li{
                    display: inline-block;
                    list-style: none;
                    padding-right: $grid-gutter / 2;
                    margin-bottom: 0;
                }
                
                .current-menu-item{
                    opacity: .4;
                    pointer-events: none;

                    &:hover{
                        border-color: transparent;
                    }
                }
            }
        }
    }

.template-history-page{
    #mainContent{
        margin-bottom: $grid-gutter * 2;
    }

    .wp-block-quote{
     &:last-child{
         @include media-breakpoint-up(lg){
            margin-top: -200px!important;
        }
     }   
    }
}

//Films page
.films,
.interviews{

    @include media-breakpoint-up(md){
        .page-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .sort-options{
        font-size: .8em;
        text-transform: uppercase;

        a{
            color: theme-color(grey);
            cursor: pointer;
            padding-left: 10px;
            @extend .no-underline;

            &.active{
                color: theme-color(black);
            }
        }
    }
}

.interviews{
    .movies-wrap{
        display: flex;
    }
}

.movies-wrap{
    display: block;

    .movie{
        display: inline-block;
        vertical-align: top;
        margin-bottom: $grid-gutter;

        @include media-breakpoint-up(md){
            height: 350px;
            margin-bottom: 0;
        }
        
        @include media-breakpoint-up(lg){
            height: 400px;
        }

        a{
            display: block;
            @extend .no-underline;

            &:hover{
                .thumbnail{
                    opacity: .8;
                }
            }
        }

        .thumbnail{
            position: relative;
            height: 0;
            padding-top: 75%;
            background-color: theme-color(grey);
            background-size: cover;
            background-position: center;
            margin-bottom: 10px;
            transition: .25s;

            h6{
                position: absolute;
                top: 0;
                left: 0;
                padding: 5px;
                margin: 0;
                color: theme-color(white);
            }
        }

        .tag{
            display: inline-block;
            //padding: .25em 1em;
            color: theme-color(black);
            //background-color: theme-color(primary);
            border-radius: 1.5em;
            text-transform: uppercase;
            font-size: .8em;
            letter-spacing: .1em;

            svg{
                padding-right: 5px;
            }
        }
    }
}

    

//Key People
.person{
    margin-bottom: $grid-gutter / 2;

    a{
        @extend .no-underline;
        display: block;

        h4{
            font-size: 1em;
        }

        .thumbnail{
            height: 0;
            padding-top: 80%;
            margin-bottom: 10px;
            background-color: theme-color(grey);
            background-size: cover;
            background-position: center;
            transition: .25s;
        }

        &:hover{
            //text-decoration: underline;

            .thumbnail{
                opacity: .8;
            }
        }
    }

    @include media-breakpoint-up(md){
        margin-bottom: $grid-gutter;
    }
}

//Printed Materials
#allMaterials{
    h3{
        margin-bottom: $grid-gutter / 2;
        font-weight: bold;
    }

    ul{
        padding-left: 0;

        @include media-breakpoint-up(md){
            padding-left: $grid-gutter / 2;
        }
        
        li{
            list-style: none;

            svg, i{
                margin-right: 10px;
            }

            .accordeon-content{
                padding: 10px 0  0 25px;
            }

            .wp-block-file{
                margin-bottom: 1em;

                a{
                    @extend .inverted-underline;

                    &.wp-block-file__button{
                        display: none;
                    }
                }
            }
        }
    }   
}

// Photographs page
#photoGallery{
    .gallery{
        display: flex;
        justify-content: center;

        .photo{
            display: block;

        }
    }
}

//News

.page.news{
    .single-news{
        margin-bottom: $grid-gutter;

        a{
            @extend .inverted-underline;
        }

        h6{
            text-transform: uppercase;
            font-size: .8em;
            color: theme-color(darkgrey);
            margin-bottom: 10px;
            
            &:before{
                content: '';
                display: block;
                width: 100px;
                border-top: 1px solid theme-color(black);
                margin-bottom: $grid-gutter;
            }
        }

        &:first-child{
            h6:before{
                border-top: 0;
            }
        }
    
        h3{
            margin-bottom: 0;
        }
    }
}

// Back to Top
.back-to-top{
    opacity: 0;
    position: fixed;
    bottom: $grid-gutter / 2;
    right: 10px;
    background: theme-color(white);
    padding: 10px;
    transition: .25s;
    cursor: pointer;

    &:hover{
        transform: scale(1.1);
    }

    img{
        height: 20px;
        transform: rotate(-90deg);
    }

    @include media-breakpoint-up(md){
        bottom: $grid-gutter;
        right: $grid-gutter / 2;

        img{
            height: 30px;
        }
    }
}

//Light Gallery
.lightgallery{
    .photo{
        margin-bottom: $grid-gutter;
        @extend .no-underline;

        img{
            width: 100%;
        }

        figcaption{
            color: theme-color(black);

            &:last-child{
                color: theme-color(grey);
            }
        }
    }
}