body{
  & > .wrap{

    .sidebar{
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      height: 100%;
      width: 400px;
      padding: $grid-gutter;
      background: theme-color(black);
      color: theme-color(white);
      overflow: auto;
      transition: .3s;
      transform: translateX(-350px);

      .burger{
        position: absolute;
        right: 0;
        top: 0;
        transition: .3s;
        cursor: pointer;
        font-size: 25px;
        padding: 5px 14px;
      }

      .sidebar-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;

        h4{
          text-transform: uppercase;
        }
      }

      &.active{
        transform: translateX(0);

        .burger{
          right: 350px;
        }
      }
    }
  }
}

h2{
    font-size: 1.5em;
}

h3{
  font-size: 1.5em;
}

h4{
  font-size: 1.2em;
}

h5 {
  text-transform: uppercase;
  color: theme-color(grey);
  font-size: 1em;
  margin-bottom: 0;
}

p{
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 30px;
}

img{
  max-width: 100%;
  height: auto;
}

section{
  margin-bottom: $grid-gutter; 
}

//Accordeon

.accordeon{
  .accordeon-header{
    cursor: pointer;
    @extend h2;

    .up, 
    .down{
      margin-left: 20px;
    }

    .up{
      display: none;
    }
    
    .down{
      display: inline-block;
    }
  }

  .accordeon-content{
    display: none;
  }

  &.active{
    .accordeon-header{
      .up{
        display: inline-block;
      }
      
      .down{
        display: none;
      }
    }
  
    .accordeon-content{
      display: block;
    }
  }
}