h2{
    font-size: 1.5em;
}

h5 {
  text-transform: uppercase;
  color: theme-color(grey);
  font-size: 1em;
  margin-bottom: 0;
}

p{
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 30px;
}

img{
  max-width: 100%;
  height: auto;
}

section{
  margin-bottom: $grid-gutter; 
}