/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  white: #ffffff,
  black: #000000,
  primary: #525ddc,
  grey: #aaa,
  darkgrey: #444
);

$grid-gutter: 50px;

//fonts

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/HelveticaNeueMedium.woff') format('woff'), 
  url('../fonts/HelveticaNeueMedium.ttf')  format('truetype'), 
  url('../fonts/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/HelveticaNeueLTStd-Lt.otf')  format('opentype'),
       url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), 
       url('../fonts/HelveticaNeueLTStd-Lt.ttf')  format('truetype'), 
       url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
  font-weight: normal;
  font-style: normal;
}


/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;


//Underline Mixins

@mixin text-underline-crop($background) {
  text-shadow:  .03em 0 $background, 
                -.03em 0 $background,
                0 .03em $background,
                0 -.03em $background,
                .06em 0 $background,
                -.06em 0 $background,
                .09em 0 $background,
                -.09em 0 $background,
                .12em 0 $background,
                -.12em 0 $background,
                .15em 0 $background,
                -.15em 0 $background;
}

@mixin text-background($color-bg, $color-text, $color-hover) {
  background-image: linear-gradient($color-text, $color-text);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position:  0% 95%;

  &:hover{
    background-image: linear-gradient($color-hover, $color-hover);
  }
}

@mixin text-selection($selection) {
  &::selection {
      @include text-underline-crop($selection);
  
      background: $selection;
  }

  &::-moz-selection {
      @include text-underline-crop($selection);
  
      background: $selection;
  }
}

@mixin link-underline($background, $text, $selection, $color-hover){
  @include text-underline-crop($background);
  @include text-background($background, $text, $color-hover);
  @include text-selection($selection);

  color: $text;
  text-decoration: none;

  *,
  *:after,
  &:after,
  *:before,
  &:before {
      text-shadow: none;
  }

  &:visited {
      color: $text;
  }
}
